In [1]:
import pandas as pd

In [2]:
schools_complete = 'Resources/schools_complete.csv'
students_complete = 'Resources/students_complete.csv'

In [3]:
schools_complete_df = pd.read_csv(schools_complete)
students_complete_df = pd.read_csv(students_complete)
students_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
students_schools_merge_df = pd.merge(students_complete_df, schools_complete_df, how="left", on=["school_name", "school_name"])
students_schools_merge_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
unique_schools = students_schools_merge_df['school_name'].nunique()
unique_schools

15

In [6]:
total_students = schools_complete_df['size'].sum()
total_students

39170

In [7]:
total_budget = schools_complete_df['budget'].sum()
total_budget

24649428

In [8]:
avg_math_score = students_schools_merge_df['math_score'].mean()
avg_math_score

78.98537145774827

In [9]:
avg_reading_score = students_schools_merge_df['reading_score'].mean()
avg_reading_score

81.87784018381414

In [10]:
passing_math = students_schools_merge_df[(students_schools_merge_df["math_score"] >= 70)].count()["student_name"]
percent_passing_math = passing_math/float(total_students)*100
percent_passing_math

74.9808526933878

In [11]:
passing_reading = students_schools_merge_df[(students_schools_merge_df["reading_score"] >= 70)].count()["student_name"]
percent_passing_reading = passing_reading/float(total_students)*100
percent_passing_reading

85.80546336482001

In [12]:
passing_total = students_schools_merge_df[(students_schools_merge_df["reading_score"] >= 70) & (students_schools_merge_df['math_score'] >= 70)].count()["student_name"]
percent_total_passing = passing_total/float(total_students)*100
percent_total_passing

65.17232575950983

In [13]:
district_summary= pd.DataFrame({'Total Schools':[unique_schools], 'Total Students':[total_students], 'Total Budget':[total_budget], 'Average Math Score':[avg_math_score], 'Average Reading Score':[avg_reading_score], '% Passing Math':[passing_math], '% Passing Reading':[passing_reading], '% Overall Passing':[passing_total]})
district_summary['Total Students'] = district_summary['Total Students'].map('{:,}'.format)
district_summary['Total Budget'] = district_summary['Total Budget'].map('${:,.2f}'.format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,29370,33610,25528

In [14]:
school_types = schools_complete_df.set_index(['school_name'])['type']

In [15]:
per_school_counts = school_types.value_counts()
per_school_counts

Charter     8
District    7
Name: type, dtype: int64

In [16]:
per_school_budget = schools_complete_df.groupby(['school_name']).mean(['budget'])
per_school_capita = per_school_budget/per_school_counts

In [17]:
per_school_math = students_schools_merge_df.groupby(['school_name']).mean(['math_score'])
per_school_reading = students_schools_merge_df.groupby(['school_name']).mean(['reading_score'])
per_school_math
per_school_reading

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0

In [18]:
school_passing_math = per_school_math[(per_school_math['math_score'] >= 70)].value_counts()
school_passing_reading = per_school_reading[(per_school_reading['reading_score'] >= 70)].value_counts()
school_passing_math
school_passing_reading

Student ID  reading_score  math_score  School ID  size    budget
1458.0      81.182722      76.629414   0.0        2917.0  1910635.0    1
4391.0      81.158020      76.711767   1.0        2949.0  1884411.0    1
6746.0      83.725724      83.359455   2.0        1761.0  1056600.0    1
9944.0      80.934412      77.289752   3.0        4635.0  3022020.0    1
12995.5     83.816757      83.351499   4.0        1468.0  917500.0     1
14871.0     83.989488      83.274201   5.0        2283.0  1319574.0    1
16941.5     83.975780      83.061895   6.0        1858.0  1081356.0    1
20358.5     81.033963      77.048432   7.0        4976.0  3124928.0    1
23060.0     83.814988      83.803279   8.0        427.0   248087.0     1
23754.5     84.044699      83.839917   9.0        962.0   585858.0     1
25135.5     83.955000      83.682222   10.0       1800.0  1049400.0    1
28035.0     80.744686      76.842711   11.0       3999.0  2547363.0    1
32415.0     80.966394      77.072464   12.0       4761.0  3094650.0    1
36165.0     80.746258      77.102592   13.0       2739.0  1763916.0    1
38352.0     83.848930      83.418349   14.0       1635.0  1043130.0    1
dtype: int64

In [31]:
passing_math_and_reading = students_schools_merge_df[(students_schools_merge_df['reading_score'] >= 70) & (students_schools_merge_df['math_score'] >= 70)]
passing_math_and_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [32]:
per_school_passing_math = school_passing_math.groupby(['school_name']).count()['student_name']/per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby(['school_name']).count()['student_name']/per_school_counts * 100
overall_passing_rate = passing_math_and_reading.groupby(['school_name']).count()['student_name']/per_school_counts * 100

KeyError: 'school_name'

:

:

:

:

:

:

: